<script lang="ts">
import type { MediaMetadata, MediaInfo } from '../structs'
import Throbber from './Throbber.vue'

export default {
  data() {
      return {
          url: "",
          metadata: new MediaMetadata(),
          inspecting: false,
          err: null,
      };
  },
  watch: {
    url: async function () {
      try {
        new URL(this.url);
      }
      catch (e) {
        return;
      }
      this.inspecting = true;

      let r = await fetch("/api/inspect", {
        method: "POST",
        body: JSON.stringify({ url: this.url }),
        headers: { "Content-Type": "application/json" },
      });
      let result = await r.json()

      this.metadata = result;
      this.inspecting = false;
      console.log("metadata of ", this.url, ": ", result)

    },
  },
  methods: {
    addToQueue(e: Event) {
      e.preventDefault();
      console.log("adding", this.url, "to queue")
      fetch("/api/queue", {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          url: this.url,
        })
      }).then((resp) => {
        if (!resp.ok) {
          console.error("non-successful response: ", resp);
          this.err = resp.statusText;
          return;
        }
        // TODO: hide add dialog
      }).catch((err) => {
        console.error(err);
        this.err = err;
      });
    }
  },
  components: { Throbber }
}
</script>

<template>
  <div class="add-to-queue">
    <h2>download content
      <Throbber v-if="inspecting" />
    </h2>
    <div v-if="err" class="error">{{ err }}</div>
    <form class="input centered-block" v-on:submit="addToQueue">
      <input type="url" v-model="url" name="url" v-on:change="getMetadata"
        placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" size="100" />
      <input type="submit" value="add" />
    </form>

    <br />
    <p class="title" v-if="metadata.title">{{ metadata.title }}</p>
    <table class="centered-block">

      <tr v-if="metadata.extractor">
        <td>Extractor</td>
        <td><code>{{ metadata.extractor }}</code></td>
      </tr>

      <tr v-if="metadata.uploader">
        <td>Uploader</td>
        <td>{{ metadata.uploader }} <span v-if="metadata.uploader_id">(<code>{{ metadata.uploader_id }}</code>)</span>
        </td>
      </tr>

      <tr v-if="metadata.channel">
        <td>Channel</td>
        <td><code>{{ metadata.channel }}</code></td>
      </tr>

      <tr v-if="metadata.duration_string">
        <td>Duration</td>
        <td><code>{{ metadata.duration_string }}</code></td>
      </tr>

      <tr v-if="metadata.width || metadata.height">
        <td>resolution</td>
        <td><code>{{ metadata.width }}x{{ metadata.height }}</code></td>
      </tr>

      <tr v-if="metadata.acodec">
        <td>Audio Codec</td>
        <td><code>{{ metadata.acodec }}</code></td>
      </tr>

      <tr v-if="metadata.vcodec">
        <td>Video Codec</td>
        <td><code>{{ metadata.vcodec }}</code></td>
      </tr>

      <tr v-if="metadata.fps">
        <td>fps</td>
        <td>{{ metadata.fps }}</td>
      </tr>

      <tr v-if="metadata.ext">
        <td>ext</td>
        <td><code>{{ metadata.ext }}</code></td>
      </tr>

      <tr v-if="metadata.id">
        <td>id</td>
        <td><code>{{ metadata.id }}</code></td>
      </tr>

    </table>
  </div>
</template>

<style scoped>
table {
  margin: 0 auto;
}

.title {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}

.input {
  height: 3em;
}
</style>
