<script lang="ts">
import { store } from '../store'

export default {
    data() {
        return {
            store
        }
    },
}
</script>
<template><b class="brand">web-media-ingest</b> version {{ store.version }}</template>
