<script lang="ts">
import type { ServerEvent } from '@/structs';
import { store } from '../store'

export default {
    methods: {
        onVersion(e: MessageEvent<any>) {
            let version = JSON.parse(e.data);
            console.log('connected to web-media-ingest ', version);
            store.version = version;
        },
        onQueue(e: MessageEvent<any>) {
            let event: ServerEvent = JSON.parse(e.data);
            console.log('update from server: ', event)

            let jobID = event.job!.ID;
            store.queue[jobID] = event;

            console.log('queue: ', store.queue);
        },
    },
    mounted() {
        let es = new EventSource("/api/events");
        es.addEventListener('version', this.onVersion);
        es.addEventListener('queue', this.onQueue);
        es.onopen = () => console.log("connected to", es.url);
        es.onerror = (err) => console.log("error from eventsource: ", err);
    }
};
</script>
