<script lang="ts">
import type { PropType } from 'vue';
import type { ServerEvent } from '../structs'
import { QueueItemState } from '../structs'

export default {
    data() {
        let name = this.item.job.Url;
        if (this.item.info && this.item.info.title) {
            name = this.item.info.title;
        }

        return {
            item: this.item,
            title: name,
            jobStatus: QueueItemState[this.item.job.Status],
        }
    },
    props: {
        item: {
            type: Object as PropType<ServerEvent>,
            required: true,
        }
    },
}
</script>
<template>
    <li>
        <b>{{ item.job.ID }} - {{ title }} ({{ jobStatus }})</b>
    </li>
</template>
