<script lang="ts">
import { store } from '../store'
import QueueItem from './QueueItem.vue'

export default {
    data() {
        return {
            queue: store.queue,
        };
    },
    components: { QueueItem }
};
</script>
<template>
    <ul>
        <QueueItem :item="item" :key="item.job.ID" v-for="item in queue" />
    </ul>
</template>
