@import './base.css';

body {
  font-family: Sans;
  background-color: #202224;
  color: #fff;
  height: 100%;
  margin: 0
}

html {
  height: 100%;
}

main {
  min-height: 100vh;
  margin: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
