<script setup lang="ts">
import Branding from './components/Branding.vue';
import AddToQueue from './components/AddToQueue.vue'
import Queue from './components/Queue.vue'
import Events from './components/Events.vue';
</script>

<template>
  <main>
    <div class="wrapper">
      <div class="content">
        <AddToQueue />
        <Queue />
      </div>
      <div class="footer">
        <Branding version="" />
      </div>
    </div>
    <Events />
  </main>
</template>

<style>
input[type="url"], input[type="text"] {
  color: #ccc;
  background-color: rgb(47, 47, 47);
  border: solid 1px #555;
  border-radius: 0.25em;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr auto;
}

.header {
    padding-bottom: 1em;
    padding-top: 1em;
    min-height: 3em;
}

.footer {
    margin-bottom: 1em;
    margin-top: 1em;
    color: #555555;
}

.content {
    margin-top: 1em;
    padding-top: 1em;
    padding-left: 1em;
    background-color: #333;
    border-radius: 1em; /* very round */
    overflow: auto;
}
</style>
